extends layout

block content
  h1= title
  div
    ul
    each item in items
      li
        span= item.name
        | &nbsp;
        a(href='/delete/' + item.id) x

  div
    form(action='/add', method='post')
      input(name='name')
      input(type='submit', value='add')
